body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-header {
  margin-bottom: 24px;
}

.fjarding__input {
  min-width: 158px;
  border-radius: 8px;
  font-size: 18px;
  border: 1px solid #7b7b7b;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.container { 
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 320px;
}

.fjarding__button {
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #7b7b7b;
}